<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--- Fontfamily gotham-->
	<link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
	<link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/nos.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<title>TECNONX (Cibertseguridad)</title>
</head>
<body>
	<div id="particles-js"></div>
	<header>
		
		<div class="container">
		<div class="logo"><img src="../images/logo.png" alt="TECNONX"></div><br><br>
        
        <nav id="site-nav" class="site-nav">
            <ul>
                <li><a href="../index.html"><h2>INICIO</h2></a></li>
				<li><a href="ser.html"><h2>Sevicios</h2></a></li>
				<li><a href="nos.html"><h2>Nosotros</h2></a></li>
				<li><a href="conct.html"><h2>Contacto</h2></a></li>
				
				<li><a href="log.html"><h2>Login</h2></a></li>
            </ul>
        </nav>
        <div id="menu-toggle" class="menu-toggle" onClick="cambiarClase()">
            <div class="hamburger"></div>
		</div>
	</div>
	</header>
	<div class="textp">
		<section>
			<h3>Nosotros</h3><br><br><br>
			<p>La Cybertseguridad es lo mas importantes para nosotros como organizacion.</p>
		</section>
    </div>

    <div class="contenedor3">
		<div class="imgcont4">
		</div>
		<div class="titu">
			<h4>Nosotros</h4>
			<p>TECNONX proporciona una gran cantidad de información y experiencia para su equipo de seguridad. Capacite a sus empleados o encuentre nuevos talentos entre algunos de los mejores expertos en seguridad del mundo utilizando nuestro sistema de reclutamiento.</p>
		</div>
		<div class="comp">
			
			<div class="miniti1">
				<i class="fas fa-building"></i>
				<h6>Labs Dedicados</h6>
				<p>Laboratorios privados que le permiten elegir quién tiene acceso y qué máquinas están disponibles.</p>
			</div>
			<div class="miniti2">
				<i class="fas fa-user-md"></i>
				<h6>Reclutamiento</h6>
				<p>Publique puestos vacantes para su empresa o comuníquese directamente con los usuarios que hayan optado.</p>
			</div>
			<div class="miniti3">
				<i class="fas fa-star"></i>
				<h6>Oportunidades de patrocinio</h6>
				<p>Obtenga exposición de marca para miles de los mejores profesionales de seguridad del mundo.</p>
			</div>
			<div class="miniti4">
				<i class="fab fa-product-hunt"></i>
				<h6>Pro Labs</h6>
				<p>Obtener exposición de marca para millas de los mejores profesionales de seguridad del mundo.</p>
			</div>
		</div>
	</div>

    <div class="nos">
        <br><br><br>
        <h4>Vision y Mision</h4>
        <img src="../images/nos.png" alt="" srcset="">
        <div class="nos1">
            <div class="nosimg">
				<i class="fas fa-user-md"></i>
            </div>
            <h4>Vision</h4>
            <p>El Centro de Ciberseguridad Industrial aspira a convertirse en el punto independiente de encuentro de los organismos, privados y públicos, y profesionales relacionados con las prácticas y tecnologías de la Ciberseguridad Industrial, así como en la referencia hispanohablante para el intercambio de conocimiento, experiencias y la dinamización de los sectores involucrados en este ámbito.</p>
        </div>
        <div class="nos2">
            <div class="nosimg2">
				<i class="fas fa-star"></i>
            </div>
            <h4>Mision</h4>
		   <p>El Centro de Ciberseguridad Industrial se ha establecido en pro del impulso y contribución a la mejora de la Ciberseguridad Industrial desarrollando actividades de análisis, desarrollo de estudios e intercambio de información sobre el conjunto de prácticas, procesos y tecnologías, diseñadas para gestionar el riesgo del ciberespacio derivado del uso, procesamiento, almacenamiento y transmisión de información utilizada en las organizaciones e infraestructuras industriales y cómo éstas suponen una de las bases sobre las que está construida la sociedad actual. </p>
	
		</div>
</div>
</body>
<footer>

<div class="footer">

<div class="mas">
	<h5>Sobre TECNONX</h5>
	<p>Una plataforma en línea para probar y avanzar sus proteccion en pruebas de penetración y seguridad cibernética.</p>
</div>
<div class="social">
	<h5>Social</h5>
	<i class="fab fa-facebook"></i>
	<i class="fab fa-youtube"></i>
	<i class="fab fa-linkedin"></i>
</div>
<div class="conct">
	<h5>Contact</h5>
	<p>info@tecnonx.com.do</p>
		<p> Felipe Ant. Luis Sanchez</p><br>
		<p>CTP 3QS, Dominican Republic</p>
		<p>Company No. 00000000</p>
</div>
</div>
<div class="foo">
	<h5>Copyright © TECNONX 2020</h5>
	<p>Terms of Service | Privacy Policy</p>
</div>

</footer>
<!--Scrips js-->
<script src="../js/particles.js"></script>
<script src="../js/javascrip.js"></script>
</html>