<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--- Fontfamily gotham-->
	<link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
	<link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/serv.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<title>TECNONX (Cibertseguridad)</title>
</head>
<body>
	<div id="particles-js"></div>
	<header>
		
		<div class="container">
		<div class="logo"><img src="../images/logo.png" alt="TECNONX"></div><br><br>
        
        <nav id="site-nav" class="site-nav">
            <ul>
                <li><a href="../index.html"><h2>INICIO</h2></a></li>
						<li><a href="ser.html"><h2>Sevicios</h2></a></li>
						<li><a href="nos.html"><h2>Nosotros</h2></a></li>
						<li><a href="conct.html"><h2>Contacto</h2></a></li>
						
						<li><a href="log.html"><h2>Login</h2></a></li>
            </ul>
        </nav>
        <div id="menu-toggle" class="menu-toggle" onClick="cambiarClase()">
            <div class="hamburger"></div>
		</div>
	</div>
    </header>
    
    <div class="textp">
		<section>
			<h3>Servicios</h3><br><br><br>
			<p>Nuestros Servicios son seguros y confidenciales para nuestros usuarios.</p>
		</section>
    </div>
    <div class="services">
        <div class="serv">
            <div class="miniserv">
                <h4>Los Servicios</h4>
                <p>Estos son nuestros servios mas destacados</p>
            </div>
            <div class="miniserv1">
                <img src="../images/serv.jpg" alt="" srcset="">
            </div>
            <div class="miniserv2">
                <h6>Nuestros Servicios</h6>
                <p>Contamos con los mas cuidadosos servicios se Cibertseguridad del mercado y los espertos mejor capasitados en cada una de las ramas de la Cibertseguridad.</p>
            <button>Empesar ahora</button>
            </div>
        </div>


        <div class="serv2">
            <div class="servmini">
                <h4>Algunos Servicios</h4>
                <p>Estos son algunos services que le damos a nuestros clientes.</p>
            </div>

            <div class="servmi1">
                <h6>Pentest</h6>
                <p>Una prueba de penetración, o "pentest", es un ataque a un sistema informático con la intención de encontrar las debilidades de seguridad y todo lo que podría tener acceso a ella, su funcionalidad y datos.​​</p>
            </div>
            <div class="servmi2">
                <h6>Testing</h6>
                <p>El testing es una actividad congnitiva y no mecánica ni repetitiva que involucra varias funciones mentales como el lenguaje, la imaginación, percepción, entre otros. Un tester va desarrollando estas habilidades a medida que avanza en la Carrera de testing y obtiene conocimiento y experiencia.</p>
            </div>
            <div class="servmi3">
                <h6>Analisis de Riesgos</h6>
                <p>El análisis de riesgo, también conocido como evaluación de riesgos o PHA por sus siglas en inglés. Process Hazards Analysis, es el estudio de las causas de las posibles amenazas y probables eventos no deseados y los daños y consecuencias que éstas puedan producir. </p>
            </div>
            <div class="servmi4">
                <h6>Asesoria</h6>
                <p>La asesoría es la labor de un profesional o una empresa destinada a la realización de distintas funciones de asesoramiento, control y supervisión de la actividad económica de una persona física o jurídica que contrata sus servicios en el ámbito económico y jurídico.</p>
            </div>
            <div class="servmi5">
                <h6>Redes-IDS</h6>
                <p>Un sistema de detección de intrusiones (o IDS de sus siglas en inglés Intrusion Detection System) es un programa de detección de accesos no autorizados a un computador o a una red. El IDS suele tener sensores virtuales (por ejemplo, un sniffer de red) </p>
            </div>
            <div class="servmi6">
                <h6>Software-AntiMalware</h6>
                <p>os programas antimalware más convenientes, a nivel de usuario podemos instalar un anti-malware gratuito, aunque siempre es recomendable contar con un software de seguridad de pago. Pero a nivel de PYME siempre se debe instalar uno de pago con mantenimiento de los archivos para evitar su pérdida.</p>
            </div>
        </div>
    </div>
</body>

    <footer>

        <div class="footer">
        
        <div class="mas">
            <h5>Sobre TECNONX</h5>
            <p>Una plataforma en línea para probar y avanzar sus proteccion en pruebas de penetración y seguridad cibernética.</p>
        </div>
        <div class="social">
            <h5>Social</h5>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <div class="conct">
            <h5>Contact</h5>
            <p>info@tecnonx.com.do</p>
                <p> Felipe Ant. Luis Sanchez</p><br>
                <p>CTP 3QS, Dominican Republic</p>
                <p>Company No. 00000000</p>
        </div>
        </div>
        <div class="foo">
            <h5>Copyright © TECNONX 2020</h5>
            <p>Terms of Service | Privacy Policy</p>
        </div>
        
        </footer>
        <!--Scrips js-->
        <script src="../js/particles.js"></script>
        <script src="../js/javascrip.js"></script>
        </html>